<%= form_for(service) do |f| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "title_field" %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, class: "url_field" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <!-- <div class="field">
    <%= f.label :price_in_cents %>
    <%= f.number_field :price_in_cents %>
  </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
