<!-- <p id="notice"><%= notice %></p> -->


<div class="background_image">
  <div class="content-top">
    <h1>WYNAGENCY</h1>
    <h2>A creative design studio</h2>
    <h3>that helps your business grow.</h3>
    <h4>scroll down to learn more</h4>
  </div>
</div>

<figure class="scott">
  <img src="https://68.media.tumblr.com/a4c84841caea1538dca305c971c13c04/tumblr_ooxxm9bgir1uaq136o1_250.jpg" alt="scott">
  <figcaption>
    Founder | Miami
  </figcaption>
</figure>

<figure class="yankel">
  <img src="https://68.media.tumblr.com/ab3ead72e5dd69d86652f3bc9583104d/tumblr_ooxi5h8Nmz1uaq136o1_250.jpg" alt="yankel">
  <figcaption>
    Founder | Miami
  </figcaption>
</figure>

<div class="about_us_section">
<h1 class="about_us_title">About Us</h1>
<p class="content-bottom">
  We are a young energetic team of entrepreneurs helping entrepreneurs and big brands create online digital experiences for the 21 century. Based in the heart of Wynwood miami a vibrant community where technology meets art our team has experience in full stack web development and branding.
Our team is over 11 strong and counting.  With diverse backgrounds and experiences at leading agencies and internet companies and beyond. We have experience in back end frameworks including Ruby on Rails, Ruby, SQL as well as Front end development HTML/CSS, JS, JQuery.For more information please contact us.
</p>

</div>

<div class="alldaserviceinfo">
  <div>
    <% @services.each do |service| %>
      <span class="titles"><%= service.title %></span>
    <% end %>
  </div>

  <div class="services">
    <% @services.each do |service| %>
      <!-- <td class="titles"><%= service.title %></td> -->
    <%= image_tag service.url, size: "300x200", class: "homeservice"%>
  <!-- <%= link_to 'EXPLORE', service, class:"explore"%> -->
    <% end %>
  </div>

  <div class="service_buttons">
    <% @services.each do |service| %>
    <%= link_to 'EXPLORE', service, class:"explore"%>
  <!-- <td><%= link_to 'Edit', edit_service_path(service) %></td>
  <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    <% end %>
  </div>
</div>



<%= link_to 'New Service', new_service_path %>
