<p id="notice"><%= notice %></p>

<!-- <h1>Services</h1> -->


  <div class="content-top">
    <h1>WYNAGENCY</h1>
    <h2>A creative design studio</h2>
    <h3>that helps your business grow.</h3>
    <h4>scroll down to learn more</h4>
  </div>
</div>

<table>
<tbody>
  <% @services.each do |service| %>
    <tr>
      <!-- <td><%= service.title %></td> -->
      <td><%= image_tag service.url, size: "240x180", class: "homeservice"%></td>
      <td><%= link_to 'EXPLORE', service %></td>
      <!-- <td><%= link_to 'Edit', edit_service_path(service) %></td> -->
      <!-- <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    </tr>
  <% end %>
</tbody>
</table>

<div class="content-bottom">
  <h1>About Us</h1>
  <p>We are a young energetic team of entrepreneurs helping entrepreneurs and big brands create online digital experiences for the 21 century. Based in the heart of Wynwood miami a vibrant community where technology meets art our team has experience in full stack web development and branding.
Our team is over 11 strong and counting.  With diverse backgrounds and experiences at leading agencies and internet companies and beyond. We have experience in back end frameworks including Ruby on Rails, Ruby, SQL as well as Front end development HTML/CSS, JS, JQuery.For more information please contact us.</p>
</div>



<br>

<%= link_to 'New Service', new_service_path %>
