<p id="notice"><%= notice %></p>


  <strong>Title:</strong>
  <h1 class="service_top"> <%= @service.title%> </h1>
</p>


<!-- :style => "color: red;" -->

<p>

  <strong>Url:</strong>
  <%= image_tag @service.url, size: "220 x 160"%>
</p>

<p class="description_review text">

  <%= @service.description %>
</p>

<!-- <p>
  <strong>Price:</strong>
  <%= @service.price_in_cents %>

</p> -->

<h1>New Review</h1>

<%= render 'reviews/form', review: @review %>


<h2 class="service_top special"> Reviews </h2>
<!-- # <%= @service.reviews %> -->

<% @service.reviews.each do |review| %>
  <div class="review">
    <p class="review_comment text"> <%= review.comment %></p>
    <%= image_tag review.logo, class: "review_image" %>
    <!-- Added on <%= time_ago_in_words review.created_at %> -->
  <!-- can move this above p class to make logo in front of comment> -->
  </div>
<% end %>




<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
