<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>

  <strong>Url:</strong>
  <%= image_tag @service.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price_in_cents %>

</p>

<h1>New Review</h1>

<%= render 'reviews/form', review: @review %>


<h2> Reviews </h2>
<!-- # <%= @service.reviews %> -->

<% @service.reviews.each do |review| %>
  <p>
    <%= image_tag review.logo %>
    <%= review.comment %><br>
    Added on <%= time_ago_in_words review.created_at %>
  </p>
<% end %>




<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
